<div class="d-flex container justify-content-center">
    <div class="col-sm-6 mt-4">
        <h1>Edit User</h1>
        <form action="/admin/user/edit/<%-userInfo.id%>?prevUrl=<%-req.query.prevUrl%>" class="card card-body"
            method="post">
            <% if (typeof errorMessage!=="undefined" ) {%>
                <div class="mb-3 alert alert-danger" role="alert">
                    <%=errorMessage %>
                </div>
                <% } %>

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input type="text" name="username" value="<%-userInfo.username%>" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="username" class="form-text text-danger">
                            <% if (typeof printData!=="undefined" ) {%>
                                <%=printData(error,'username','msg') %>
                                    <% } %>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Name</label>
                        <input type="text" name="name" value="<%-userInfo.name%>" class="form-control"
                            id="exampleInputPassword1">
                        <div id="name" class="form-text text-danger">
                            <% if (typeof printData!=="undefined" ) {%>
                                <%=printData(error,'name','msg') %>
                                    <% } %>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Address</label>
                        <input type="text" name="address" value="<%-userInfo.address%>" class="form-control"
                            id="exampleInputPassword1">
                        <div id="name" class="form-text text-danger">
                            <% if (typeof printData!=="undefined" ) {%>
                                <%=printData(error,'address','msg') %>
                                    <% } %>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">User Role</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="userRole" id="exampleRadios1"
                                value="normal" <% if(userInfo.userRole==="normal" ) { %> checked <% } %> >
                                <label class="form-check-label" for="exampleRadios1">
                                    Normal User
                                </label>
                        </div>
                        <div class="form-check">

                            <input class="form-check-input" type="radio" <% if(userInfo.userRole==="admin" ) { %>
                            checked <% } %> name="userRole" id="exampleRadios2"
                                value="admin">
                                <label class="form-check-label" for="exampleRadios2">
                                    Admin User
                                </label>
                        </div>
                    </div>




                    <button type="submit" class="btn btn-primary">Update User</button>
        </form>
    </div>
</div>